body {
    background: #faf0ca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    
}

.image-container {
    text-align: center;
}

.header-image {
    margin: 20px;
    max-width: 50%;
    max-height: 50%;
    overflow: hidden;
    text-align: center;
}

.landing-info {
    color: #ee964b;
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

h1 {
    font-family: "Quicksand";
    font-weight: 600;
}

p {
    font-family: "Quicksand";
    font-weight: 300;
    margin: 10px;
}
